
.news img {
    border-radius: 15px;
}

.news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:0 0 30px 0;
    height: auto;
    border-radius: 15px;
    align-content: flex-start;
}

.news:hover {
    box-shadow: 5px 5px 5px 5px grey;
}

.container ul {
    list-style: none;
}

.container ul li:before {
    content:  "-";
    position: relative;
    left:     -5px;
}

.indentation {
    margin: 25px 0 auto;
}

.pages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 200px;
    margin: 0 auto;
}

.numeric {
    margin: 20px 5px 20px 5px;
}

.numeric:hover {
    color: #00f7ff;
    transition: opacity .3s linear;
}

.active {
    color: rgb(255, 92, 43);
}
.active:hover {
    color: rgb(255, 92, 43);
}

.itc-slider-item {
    flex: 0 0 50%;
    max-width: 50%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 7rem;
}
