
.testimonials {
    padding: 0;
}

.section__header {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    color: #1c1c1c;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 10px;
}

swiper-slide {
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

swiper-slide p {
    max-width: 390px;
}

#reviews swiper-slide {
    background-color: #f0f0f0;
}

.mySwiper {
    height: 380px;
}

#reviews swiper-slide img {
    border-radius: 0;
    width: 360px;
    height: 160px;
    margin-bottom: 10px;

    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
}

swiper-slide img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;

    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.review {
    margin-top: 20px;
}

.team {
    margin-top: 50px;
}

.filter {
    filter: grayscale(1);
}

.filter h3 {
    font-weight: 700;
    font-size: 18px;
}

.filter:hover {
    filter: grayscale(0);
}
